/* Sets background color and text color for entire body */
body {
  background: #141414;
  color: #ffff;
}
/* Allows movie list rows to scroll horizontally and not wrap */
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
/* Styles for movie poster image container */
.image-container {
  position: relative;
  transition: transform 0.2s;
}
/* Styles for movie poster image container on hover */
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* Styles for overlay on movie poster image container on hover */

.image-container:hover .overlay {
  opacity: 1;
}

/* Styles for overlay on movie poster image container */

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 27%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
